# Environments
venv/
env/
.env
.venv/

# Python bytecode
__pycache__/
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# This covers any folder named venv anywhere in the project

**/venv/

.vs/
# Secrets
.env
server/token.txt
server/myHug.txt



