# Environments
venv/
env/
.env

# Python bytecode
__pycache__/
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# This covers any folder named venv anywhere in the project

**/venv/

.vs/
